<div class="section article">
  <div class="header clearfix">
    <div class="title">
      <h1><%= @entry.title %></h1>
    </div>
    <% unless page? %>
      <div class="date">
        <ul>
          <li class="month"><%= @entry.created_at.strftime("%b") %></li>
          <li class="day"><%= @entry.created_at.day %></li>
          <li class="year"><%= @entry.created_at.year %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="body clearfix">
    <%= @entry.body %>
    <% if logged_in? %>
      <p><a href="<%= @entry.edit_link %>"><%= t('edit') %></a></p>
    <% end %>
  </div>
  
</div>

<% unless page? %>
<div id="comment_wrapper">
  <% if @entry.comments.size > 0 %>
  <h2>
    <%= t('comments') %>
  </h2>
  <ul id="comments">
    <% @entry.comments.reverse.each do |comment| %>
      <li id="comment-<%= comment.id %>" class="comment clearfix">
        <h3 class="commenter">
          <span class="name">
            <%= link_to comment.name, comment.homepage, :unless => comment.homepage.blank? %>
          </span>
            <span class="date">
              <%= l comment.created_at, :format => :long %>
            </span>
        </h3>
        <p>
          <%= hbr comment.body %>
        </p>
      </li>
    <% end %>
  </ul>
  <% end %>

  <div id="comment_form">
    <form action="<%= @post.link %>" id="comment_form" method="post">
      <script type="text/javascript">
        //<![CDATA[
          document.write('<input type="hidden" name="check" value="check" />');
        //]]>
      </script><input type="hidden" name="check" value="check">
      <p class="name">
        <label for="comment_name">Name</label>
        <input id="comment_name" name="comment[name]" type="text">
      </p>
      <p class="url">
        <label for="comment_homepage">URL</label><span> (option)</span>
        <input id="comment_homepage" name="comment[homepage]" type="text">
      </p>
      <p>
        <textarea cols="40" id="comment_body" name="comment[body]" rows="10"></textarea>
      </p>
      <p class="submit">
        <input class="button" type="submit" value="Commment">
      </p>
    </form>
  </div>
</div>
<% end %>